* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}


header {
    background: rgb(73, 202, 56);
    color: white;
    padding: 20px;
    text-align: center;
}


nav {
    background: rgb(73, 202, 56);
    padding: 10px;
    text-align: center;
}


nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}


nav a:hover {
    text-decoration: underline;
}


.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
}


.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


footer {
    background: #1f2933;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}


@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
}

.projekt1 {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.projekt2 {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.projekt3 {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}